[Unit]
Description=ZFS Replication With Syncoid

[Service]
Type=oneshot
ExecStart=/home/nic/zfs-ops/hosts/ghost-vault/syncoid-replication.sh
User=nic
Group=nic

[Install]
WantedBy=multi-user.target
